footer.footer
    div.footer-phone.left
        p Заполнить бриф
        span 8 800 511-68-25
    div.footer-mail.center
        p hallo@empatio.ru
    div.footer-social.right
        a(href='#')
            img(src="img/telegram.svg", alt="Написать в телеграм")
            span Написать в телеграм